
html {
    scroll-behavior: smooth;
}

body {
    background-color: #000; 
    color: #fff; 
}

/*---------------------------------- Navbar styles------------------------------- */
.navbar {
    background: transparent;
    transition: background-color 0.3s;
}

.navbar a.navbar-brand img {
    max-height: 40px; /* Adjust the logo height */
}

.custom-toggler .navbar-toggler-icon {
    background-color: transparent; 
    border: none; 
    color: #fff; 
    font-size: 24px; 
}

/* Background color change when the toggle button is clicked */
.bg-black {
    background-color: rgba(0, 0, 0, 0.9) !important; 
}

/* Navbar links */
.navbar-nav .nav-link {
    color: #fff; 
    transition: color 0.3s;
    margin-right: 15px;
    font-size: 16px;
    padding: 5px 10px;
}



.navbar-nav .nav-link.active {
    color: #ff5733; /* Active link color */
}

.active {
    color: #ff5733;
}

/* Hover effect for navbar links */
.navbar-nav .nav-link:hover,
.navbar.scrolled .navbar-nav .nav-link:hover {
    color: #ff5733;
}

/* Transparent background when scrolled */
.navbar.scrolled {
    background: rgba(0, 0, 0, 0.7); 
}

/* Change link color when scrolled */
.navbar.scrolled .navbar-nav .nav-link {
    color: #fff; 
}

.navbar-nav .nav-link:hover {
    color: #ff5733; 
}

/* Style for the round logo */
.rounded-logo {
    border-radius: 50%;
    width: 50px; 
    height: 50px; 
}

/* Style for the custom horizontal line */
.custom-horizontal-line {
    width: 60%; 
    height: 1px;
    background-color: #fff; 
    margin: 20px auto; 
}

/* -----------------------------------Hero section styles------------------------------ */
.hero {
    position: relative;
    text-align: center;
    background: url('/Dev/images/herobg2.jpg') center/cover no-repeat; 
    height: 90vh; 
    color: white; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
}

/* Overlay to add semi-transparency */
.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
}

/* Style for the hero content */
.hero-content {
    text-align: center;
    z-index: 1; /* Place the content above the overlay */
}

.hero-content h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 3.5rem; 
    margin: 0;
}

.hero-content p {
    font-size: 1.3rem; 
    margin-top: 10px;
    color: #ff5733;
}

/* Updated CSS for Introductory Tile */
.intro-tile {
    background-color: #000000; 
    color: #FFF; 
    padding: 80px 0; 
    text-align: center;
    
}

.intro-tile h2 {
    color: #ff5733;
    font-size: 24px; 
    margin-bottom: 20px;
    margin-top: 5%;
}

.intro-tile p {
    font-size: 16px;
    line-height: 2; 
}


/*--------------------------- Connect Section -------------------------------------*/

.connect {
    background-color: #000; 
    padding: 60px 0; 
    text-align: center;
}

.connect h2 {
    font-size: 26px;
    color: #fff;
    margin-bottom: 50px;
    margin-top: 1%;
}

.connect i {
    font-size: 36px; 
    color: #ff5733; 
}

.connect i:hover {
    color: #fff; 
}

.connect .col-4 {
    margin: 0; 
    padding: 0 2px; 
    padding-left: 1%;
    padding-right: 1%;
}


footer {
    background-color: #000; 
    color: #ff5733; 
    padding: 20px 0;
    text-align: center;
    margin-bottom: 0%;
}

footer a {
    color: #ff5733; 
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    color: #fff; 
}

/* Center-align the text */
.footer-text {
    text-align: center;
    margin-top: 10px;
}




/* -------------------------------------Education & Certificatio Section -------------------------*/
 
#table {
    margin-top: 5%;
    margin-bottom: 3%;
}

#table h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; 
    margin-bottom: 4%;
    color: #ff5733;
}

.custom-table left {
    width: 40%; 
    border: none; 
    margin-top: 5%;
    padding-right: 20px; 
}

.custom-table left a {
    text-decoration: none;
    color:aliceblue ;
}

.custom-table .right {
    flex: 1; 
}

.custom-table .right a {
    text-decoration: none;
    color:aliceblue ;
}

.custom-table th, .custom-table td {
    /* margin-top: 5%; */
    border: none; 
    color: #eee9e9;
}

/* Style for images within the table */
.custom-table img {
    width: 60px; 
    height: 60px; 
    object-fit: cover; 
    border-radius: 50%; 
}

.custom-table tr {
    display: flex;
    align-items: center;
}



/* Style for the h3 tag */
.custom-table h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 400; 
    font-size: 24px; 
    overflow: hidden;
}

.custom-table p {
    margin: 0; 
}

/* Style for the table rows with a white background */
.custom-table-row {
    background-color: rgba(40,40,40); 
    border-radius: 10px;  
    border-left: 4px solid #ff5733;
    margin-bottom: 15px;
    padding: 15px; 
}

/* ----------------------Work expereince-------------- --------------- */

/* Add a custom style for the vertical line */
.custom-vertical-line {
    width: 2px; 
    height: 150px; 
    background-color: #ff5733;
    margin: 0 auto; 
}

/* Style for the "Projects" section */
#projects {
    text-align: center; 
}

#projects h2 {
    font-size: 24px; 
    color: #ff5733; 
    margin-top: 30px; 
}

/* Style for individual project details */
.project-details {
    margin-top: 30px;
}

.project-details h4 {
    font-size: 18px; 
    color: #000; 
}

.project-details p {
    font-size: 16px; 
    color: #555; 
}

.align-down {
    vertical-align: bottom; 
}

.bg {
    border-left:3px solid #ff5733;
}

/* --------------------------------------GIT REPO STyling --------------------------------- */




#git-repo a {
    text-decoration: none;
    color:aliceblue ;

}

  .repo-container {
    display: flex;
    flex-wrap: wrap; /* Allow content to wrap to the next line */
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgba(40, 40, 40);
    border-radius: 10px;
    border-left: 4px solid #ff5733;
    margin-bottom: 15px;
    padding: 15px;
    transition: none;
}


.repo-container a:hover {
    color: #ff5733; /* Change text color on hover to your desired color */
}
  
  #git-repo h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; 
    margin-bottom: 4%;
    color: #ff5733;
    margin-top: 7%;
  }

  .repo-container img{
    width: 60px; 
    height: 60px; 
    object-fit: cover; 
    border-radius: 50%; /* Makes images circular */
    margin-right: 4%;
  }

  .repo-details {
    flex: 1;
  }

   .repo-details h3 {
    color: aliceblue;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400; 
    font-size: 24px; 
    overflow: hidden;
  }

  .repo-details  p {
    color: aliceblue;
    margin: 5px 0;
  }

  .repo-logo {
    max-width: 100px;
  }

  .repo-link {
    text-decoration: none; 
    cursor: pointer; 
  }

 /*-------------------------------Responsive------------------------------------- */

@media (max-width: 768px) {

    .active {
        color: #ff5733; /*active link color */
    }

    .hero {
        height: 50vh; /* height for smaller screens */
    }

    .hero-content h1 {
        font-size: 2rem; /* font size for smaller screens */
    }

    .hero-content p {
        font-size: 1.1rem; /* font size for smaller screens */
    }

    .matrix {
        grid-template-columns: 1fr; /* single-column layout on smaller screens */
      }

    .col-3{
        margin-top: 4%;  /*margin for icons */
    }

    /* Remove some margin and padding for small screens */
    #table {
        margin-top: 12%;
        margin-bottom: 1%;
    }

    .custom-table h3 {
        font-size: 18px; /* font size for smaller screens */
    }

    #table h1 {
        font-family: 'Open Sans', sans-serif;
        font-size: xx-large;
        font-weight: 200; 
        margin-bottom: 4%;
        margin-top: 20%;
        color: #ff5733;
    }


    .repo-details h3 {
        color: aliceblue;
        margin: 0;
        font-family: 'Lato', sans-serif;
        font-weight: 400; 
        font-size: 20px; 
        overflow: hidden;
      }

      .repo-container {
        flex-direction: column; /* Stack child elements vertically on smaller screens */
        align-items: flex-start; 
        padding: 15px; 
        border-left: none; /* Remove left border */
        margin-bottom: 20px; 
    }

    .repo-details {
        flex: 1;
        width: 100%; /* Take the full width */
    }

    .repo-logo {
        margin-right: 0; /* Remove margin on smaller screens */
    }


    .repo-container img {
        width: 80px; /* Adjust image size for smaller screens */
        height: 80px;
        margin-right: 0; /* Remove margin on smaller screens */
    }
    
}
