
html {
    scroll-behavior: smooth;
}

body {
    background-color: #000; /* Black background color */
    color: #fff; /* White text color */
}

/* Navbar styles */
.navbar {
    background: transparent;
    transition: background-color 0.3s;
}

.navbar a.navbar-brand img {
    max-height: 40px; /* Adjust the logo height as needed */
}

.custom-toggler .navbar-toggler-icon {
    background-color: transparent; /* Remove the default background */
    border: none; /* Remove the default border */
    color: #fff; /* Icon color */
    font-size: 24px; /* Icon size */
}

/* Background color change when the toggle button is clicked */
.bg-black {
    background-color: rgba(0, 0, 0, 0.9) !important; /* Change to black */
}

/* Navbar links */
.navbar-nav .nav-link {
    color: #fff; /* Text color */
    transition: color 0.3s;
    margin-right: 15px;
    font-size: 16px;
    padding: 5px 10px;
}



.navbar-nav .nav-link.active {
    color: #ff5733; /* Active link color */
    /* Add any other active link styles here */
}

.active {
    color: #ff5733;
}

/* Hover effect for navbar links */
.navbar-nav .nav-link:hover,
.navbar.scrolled .navbar-nav .nav-link:hover {
    color: #ff5733;
}

/* Transparent background when scrolled */
.navbar.scrolled {
    background: rgba(0, 0, 0, 0.7); /* Slightly opaque black background */
}

/* Change link color when scrolled */
.navbar.scrolled .navbar-nav .nav-link {
    color: #fff; /* Text color */
}

.navbar-nav .nav-link:hover {
    color: #ff5733; /* Change color on hover */
}

/* Style for the round logo */
.rounded-logo {
    border-radius: 50%;
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
}

/* Style for the custom horizontal line */
.custom-horizontal-line {
    width: 60%; /* Set the desired width */
    height: 1px; /* Set the desired height/thickness */
    background-color: #fff; /* Set the line color */
    margin: 20px auto; /* Center the line horizontally and provide vertical spacing */
}

/* Hero section styles */
.hero {
    position: relative;
    text-align: center;
    background: url('/Dev/images/herobg2.jpg') center/cover no-repeat; /* Set the background image */
    height: 90vh; /* Adjust the height as needed */
    color: white; /* Text color */
    display: flex; /* Enable Flexbox layout */
    flex-direction: column; /* Stack child elements vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
}

/* Overlay to add semi-transparency */
.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
}

/* Style for the hero content */
.hero-content {
    text-align: center;
    z-index: 1; /* Place the content above the overlay */
}

.hero-content h1 {
    font-family: 'Dancing Script', cursive;


    font-size: 3.5rem; /* Adjust the font size as needed */
    margin: 0;
}

.hero-content p {
    font-size: 1.3rem; /* Adjust the font size as needed */
    margin-top: 10px;
    color: #ff5733;
}

/* Updated CSS for Introductory Tile */
.intro-tile {
    background-color: #000000; /* Black background */
    color: #FFF; /* White text color */
    padding: 80px 0; /* Increased padding for more height */
    text-align: center; /* Center-align text */
    
}

.intro-tile h2 {
    color: #ff5733;
    font-size: 24px; /* Increased font size for the title */
    margin-bottom: 20px;
    margin-top: 5%;
}

.intro-tile p {
    font-size: 16px;
    line-height: 2; /* Increased line height for better readability */
}


/* Connect Section */


.connect {
    background-color: #000; /* Black background */
    padding: 60px 0; /* Adjust height and spacing as needed */
    text-align: center;
}

.connect h2 {
    font-size: 26px;
    color: #fff; /* White text color */
    margin-bottom: 50px;
    margin-top: 1%;
}

.connect i {
    font-size: 36px; /* Adjust icon size as needed */
    color: #ff5733; /* Icon color */
}

.connect i:hover {
    color: #fff; /* Change icon color on hover */
}

.connect .col-4 {
    margin: 0; /* Remove the default margin */
    padding: 0 2px; /* Add padding to create space between icons */
    padding-left: 1%;
    padding-right: 1%;
}


footer {
    background-color: #000; /* Black background */
    color: #ff5733; /* Text color: ff5733 (orange) */
    padding: 20px 0;
    text-align: center;
    margin-bottom: 0%;
}

footer a {
    color: #ff5733; /* Link color: ff5733 (orange) */
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    color: #fff; /* Change link color on hover to white */
}

/* Center-align the text */
.footer-text {
    text-align: center;
    margin-top: 10px;
}




/* -------------------------------------Education & Certificatio Section -------------------------*/
 
#table {
    margin-top: 5%;
    margin-bottom: 3%;
}

#table h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; 
    margin-bottom: 4%;
    color: #ff5733;
}

.custom-table left {
    width: 40%; /* Set your desired width here */
    border: none; /* Remove table borders */
    margin-top: 5%;
    padding-right: 20px; 
}

.custom-table .right {
    flex: 1; 
}

.custom-table th, .custom-table td {
    /* margin-top: 5%; */
    border: none; /* Remove cell borders */
    color: #eee9e9;
}

/* Style for images within the table */
.custom-table img {
    width: 60px; /* Set your desired width for the images */
    height: 60px; /* Set your desired height for the images */
    object-fit: cover; /* Ensure images maintain their aspect ratio */
    border-radius: 50%; /* Make the images circular */
}

.custom-table tr {
    display: flex;
    align-items: center;
}



/* Style for the h3 tag */
.custom-table h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 400; /* Regular weight */
    font-size: 24px; /* Adjust the font size as needed */
    overflow: hidden;
}

/* Additional styling for the description text */
.custom-table p {
    margin: 0; /* Remove any margin to avoid extra spacing */
}

/* Style for the table rows with a white background */
.custom-table-row {
    background-color: rgba(40,40,40); /* Adjust the opacity as needed */
    border-radius: 10px; 
    margin-bottom: 15px;
    padding: 15px; 
}

/* ////////////////////////Work expereince ////////////////////////// */

/* Add a custom style for the vertical line */
.custom-vertical-line {
    width: 2px; /* Adjust the line thickness as needed */
    height: 150px; /* Adjust the line height as needed */
    background-color: #ff5733; /* Line color */
    margin: 0 auto; /* Center the line horizontally */
}

/* Style for the "Projects" section */
#projects {
    text-align: center; /* Center-align the section content */
}

#projects h2 {
    font-size: 24px; /* Adjust the font size for the section header */
    color: #ff5733; /* Text color */
    margin-top: 30px; /* Add spacing between the line and header */
}

/* Style for individual project details */
.project-details {
    margin-top: 30px; /* Add spacing between project details */
}

.project-details h4 {
    font-size: 18px; /* Adjust the font size for project headers */
    color: #000; /* Text color for project headers */
}

.project-details p {
    font-size: 16px; /* Adjust the font size for project descriptions */
    color: #555; /* Text color for project descriptions */
}

.align-down {
    vertical-align: bottom; /* Align content to the bottom of the cell */
}

/* ... Other styles from your existing CSS ... */





@media (max-width: 768px) {

    .active {
        color: #ff5733; /* Change to your desired active link color */
    }

    .hero {
        height: 50vh; /* Adjust the height as needed for smaller screens */
    }

    .hero-content h1 {
        font-size: 2rem; /* Adjust the font size as needed for smaller screens */
    }

    .hero-content p {
        font-size: 1.1rem; /* Adjust the font size as needed for smaller screens */
    }

    .matrix {
        grid-template-columns: 1fr; /* Adjust for single-column layout on smaller screens */
      }

      /* Remove some margin and padding for small screens */
    #table {
        margin-top: 12%;
        margin-bottom: 1%;
    }

    .custom-table h3 {
        font-size: 18px; /* Adjust font size for smaller screens */
    }

    #table h1 {
        font-family: 'Open Sans', sans-serif;
        font-size: xx-large;
        font-weight: 200; 
        margin-bottom: 4%;
        color: #ff5733;
    }
}
